# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask instance folder
instance/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE files
.vscode/
.idea/

# Custom scratch files
scratch/
